<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Поиск, торрент, torrent, freedomist, телеграм, Telegram, бот, трекер">
    <meta name="description" content="Поисковая система по торрент-трекерам: заглушка.">

    <link rel="stylesheet" href="{{static_prefix}}/css/mvp.css">
    <link rel="shortcut icon" href="{{static_prefix}}/images/favicon.ico" type="image/x-icon">
    <title>Search is coming soon.</title>
    <style>
			#header {
				text-align: center;
			}
    </style>
</head>
<body>
    <header>
        <h2 id="header">
            Search is coming soon.
        </h2>
    </header>
</body>
</html>