<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Поиск, торрент, поисковая система, torrent, magnet link">
    <meta name="description" content="Поисковая система торрентов (magnet-ссылок). Открытая версия">

    <link rel="stylesheet" href="{{static_prefix}}/css/mvp.css">
    <link rel="shortcut icon" href="{{static_prefix}}/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="{{static_prefix}}/js/local.js"></script>
    <style>
			#header {
				text-align: center;
				border-bottom: solid black 2px;
			}
			#config-img {
				height: 500px;
			}
			#footer {
				text-align: center;
				border-top: solid black 2px;
				margin-top: 3em;
				margin-bottom: 1em;
			}
			#status {
				position: absolute;
				right: 0;
				top: 2em;
			}
			.code {
				background-color: rgba(0, 0, 0, 0.1);
				border-radius: 5px;
			}
			body {
				max-width: 50em;
				margin: auto;
				overflow-y: scroll;
                overflow-x: hidden;
			}
    </style>
    <title>[Ex]Freedomist.com: Lowload Search Engine</title>
</head>
<body>
    <div id="header">
	    <section>
            <a href="/" target="_blank"><img src="{{static_prefix}}/images/test3.svg" width="400" height="120" alt="Lowload Search Engines logo"></a>
        </section>
	</div>
    <div id="body">
        {% if has_error %}
        <h3>Произошла чудовищная ошибка!</h3>
        {% endif %}
        <br>
	    <section>
           <table style="border: none;">
               <tr>
                <form action="/" method="post" id="search-form">
                    {% if query %}
                        <input type="text" name="query" size="60" value="{{query}}" placeholder="Search...">
                    {% else %}
                        <input type="text" name="query" size="60" placeholder="Search...">
                    {% endif %}
                    <input type="hidden" name="offset" value="0" hidden="">

                    <label for="order_by">sort by</label>
                    <select name="order_by" id="order_by">
                        {% if order_by == 'd' %}
                        <option selected value="d">downloads</option>
                        {% else %}
                        <option value="d">downloads</option>
                        {% endif %}

                        {% if order_by == 's' %}
                        <option selected value="s">seeders</option>
                        {% else %}
                        <option value="s">seeders</option>
                        {% endif %}

                        {% if order_by == 'z' %}
                        <option selected value="z">size&#8595;</option>
                        {% else %}
                        <option value="z">size&#8595;</option>
                        {% endif %}

                        {% if order_by == 'r' %}
                        <option selected value="r">size&#8593;</option>
                        {% else %}
                        <option value="r">size&#8593;</option>
                        {% endif %}

                        {% if order_by == 't' %}
                        <option selected value="t">last updated</option>
                        {% else %}
                        <option value="t">last updated</option>
                        {% endif %}

                        {% if order_by == 'l' %}
                        <option selected value="t">name</option>
                        {% else %}
                        <option value="l">name</option>
                        {% endif %}
                    </select>
                    <button type="submit" id="m-submit">Search</button>
                </form>
               </tr>
            </table>
        </section>
        <section>
            <p>
                Это поисковая система торрентов. В базе поиска регулярно обновляемые раздачи с <a href="https://exfreedomist.com/stats" target="_blank">16 самых популярных</a> торрент-трекеров. Подробнее см. на <a href="https://exfreedomist.com" target="_blank"><b>exfreedomist.com</b></a>
            </p>
        </section>
	</div>
    <div id="footer">
        <h3><a href="https://exfreedomist.com" target="_blank">[Ex]Freedomist</a></h3>
	</div>
</body>
</html>